.panel-properties {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "RobotoLight", sans-serif;
  font-size: 11px;

  &__header-cell{
    flex: 0 0 50%;
  }

  &__row {
    width: 100%;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
  }

  &__cell {
    flex: 0 0 50%;

    &:first-child {
      padding-left: 10px;
      cursor: pointer;
    }

    &:last-child {
      width: 100%;
      background-color: transparent;
      color: #ccc;
      border: 1px solid #777;
      padding: 1px 3px;
      outline: none;
      flex: 1 0 30%;
      margin-right: 10px;
      transition: border-color .3s;

      &:focus {
        border-color: #999;
      }
    }

  }
}
