<div class="sandbox">
    <div class="sandbox__panel">
      <div class="panel-block">
        <header class="panel-block__header">
          Components
        </header>
        <control-panel-block [blocks]="blocks"
                             (onComponentChoose)="onComponentChoose($event)">
        </control-panel-block>
      </div>
      <div class="panel-block">
        <control-properties-editor [target]="propsEditor$"></control-properties-editor>
      </div>
    </div>
    <div class="sandbox__work-area">
      <app-container (controlPoint)="onControlPoint($event)"></app-container>
    </div>
</div>
